@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a>
            <span class="fa-shopping-cart">
                <span id="cart-status">
                    @Model.ShoppingCart.ShoppingCartItems.Count
                </span>
            </span>
        </a>
    </li>
}

